@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  position: relative;
  background: #1E90FF;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: .3s linear;
}
.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
  .menu-main {
    padding-top: 90px;
    text-align: center;
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  .menu-main li {
    float: none;
    display: inline-block;

  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }

}
@media (max-width: 630px) {
  .menu-main li {display: block;}
}




.box-crew{
  border:7px solid #1E90FF;
  height:178px;
  position:relative;
  width:171px;
  overflow:hidden;
}

.box-crew span{
  background-color:rgba(0, 0, 0, 0.4);
  top:-100px;
  transition-duration:0.6s;
  padding:10px 0;
  position:absolute;
  text-align:center;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  line-height:16px;
  margin:0;
  display:block;
  width:100%;
}

div.box-crew:hover span{
  top:0;
}

.box-crew1{
  border:7px solid #1E90FF;
  height:178px;
  position:relative;
  width:171px;
  overflow:hidden;
}

.box-crew1 span{
  background-color:rgba(0, 0, 0, 0.4);
  top:-100px;
  transition-duration:0.6s;
  padding:10px 0;
  position:absolute;
  text-align:center;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  line-height:16px;
  margin:0;
  display:block;
  width:100%;
}

div.box-crew:hover span{
  top:0;
}

.box-crew2{
  border:7px solid #1E90FF;
  height:178px;
  position:relative;
  width:171px;
  overflow:hidden;
}

.box-crew2 span{
  background-color:rgba(0, 0, 0, 0.4);
  top:-100px;
  transition-duration:0.6s;
  padding:10px 0;
  position:absolute;
  text-align:center;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  line-height:16px;
  margin:0;
  display:block;
  width:100%;
}

div.box-crew:hover span{
  top:0;
}

.text
{

}
