
#grad1 {

  background-image: linear-gradient(to bottom right,#005cbf, #b3d4fc);
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  padding: 5px;
  left: 0; bottom: 0; /
color: #fff; /* Цвет текста */
  width: 100%;
  border: 1px solid #b3d4fc;
}

p
{font-family: 'Sansita', sans-serif;
  size: 15px;

}
. container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: 5px solid #b3d4fc ;
}


@media screen and (min-width: 300px) {
  div {
    font-size: 20px;
    color: #005c;
  .responsive {
    width: 49.99999%;
    margin: 6px 0;

  }
}


@media screen and (min-width: 600px)  {
  div {
    font-size: 55px;
    color: #005cbf;
  }
  . photo {
    width: 60%;
    float: left;
    margin-bottom: auto;
  }

}
div.gallery img {
  width: 100%;
  height: auto;
}
desc {
  opacity: 1.0;
}
div.desc:hover {
  padding: 0;
  text-align: center;
  opacity: 0.5;
}
div.gallery:hover {
  border: 1px solid #777;
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=100);
}
div.desc {
  padding: 5px;
  text-align: center;
}
img {
  opacity: 1.0;
  filter: alpha(opacity=50);
  alignment: center;
}
. responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
. row{
  width: 100%;
}


@media only screen and (max-width: 760px) {
{
  width: 49.99999%;
  margin: 6px 0;

}
}

@media only screen and (max-width: 400px) {
{
  width: 100%;
}
}
/* слой затемнения */
. dm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* активируем слой затемнения и модальное окно */
. dm-overlay:target {
  display: block;
  /* анимация и время задержки */
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
}
/* блочная таблица */
. dm-table {
  display: table;
  width: 100%;
  height: 100%;
}
/* ячейка блочной таблицы */
. dm-cell {
  display: table-cell;
  padding: 0 1em;
  vertical-align: middle;
  text-align: center;
}
/* модальный блок */
. dm-modal {
  display: inline-block;
  padding: 20px;
  /* максимально возможная ширина */
  max-width: 100em;
  background: #607d8b;
  /* внешняя тень блока */
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  color: #cfd8dc;
  text-align: left;
  /* анимация и время задержки */
  -webkit-animation: fade .8s;
  -moz-animation: fade .8s;
  animation: fade .8s;
}
.close{

}
/* анимация при появлении затемнения и блоков с содержанием */
@-moz-keyframes fade {
  from { opacity: 0; }
  to { opacity: 1 }
}
@-webkit-keyframes fade {
  from { opacity: 0; }
  to { opacity: 1 }
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1 }
}
. navbar navbar-inverse{
  background: #007bff;
}
. button{
  background: #007bff;
}
* Базовые стили слоя затемнения и модального окна  */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed; /* фиксированное поцизионирование */
  cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
  display: block;
}
/* стили модального окна */
.popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
  /* скругление углов */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  /* внешняя тень */
  -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%;
}
/* формируем кнопку закрытия */
.close {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 2px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -ms-transition: all ease .8s;
  -o-transition: all ease .8s;
  transition: all ease .8s;
}
.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
}
.close:hover {
  background-color: rgba(252, 20, 0, 0.8);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* изображения внутри окна */
.popup img {
  width: 100%;
  height: auto;
}
/* миниатюры слева/справа */
. pic-left,
. pic-right {
  width: 25%;
  height: auto;
}
.pic-left {
  float: left;
  margin: 5px 15px 5px 0;
}
.pic-right {
  float: right;
  margin: 5px 0 5px 15px;
}
/* элементы м-медиа, фреймы */
.popup embed,
.popup iframe {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display:block;
  margin: auto;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
}
.popup h2 { /* заголовок 2 */
  margin: 0;
  color: #008000;
  padding: 5px 0px 10px;
  text-align: left;
  text-shadow: 1px 1px 3px #adadad;
  font-weight: 500;
  font-size: 1.4em;
  font-family: 'Tahoma', Arial, sans-serif;
  line-height: 1.3;
}
/* параграфы */
.popup p {margin: 0; padding: 5px 0}

input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: blue;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 4px 0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 4px 10px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 8px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #1E90FF;
  padding-top: 5px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 5px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 4px 10px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  float:left;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 4px 10px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 8px;
}
. modal2 {
  background: #f1f1f1;
  color:  #6f42c1;
}
/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #1E90FF;
  padding-top: 50px;
}

/* Modal Content/Box */
. modal2-content {
  background-color: #fefefe;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #005cbf;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.p {
  color: #005cbf;
  background: white;
  size: 20%;
}}
