#grad1 {

  background-image: linear-gradient(to bottom right,#005cbf, #b3d4fc);
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  position: absolute;
  padding: 5px;
  left: 0; bottom: 0; /
  color: #fff; /* Цвет текста */
  width: 100%;
  border: 1px solid #b3d4fc;
}

p
{font-family: 'Sansita', sans-serif;

}
. container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: 5px solid #b3d4fc ;
}


@media screen and (min-width: 300px) {
  div {
    font-size: 50px;
    color: #005c;
  .responsive {
    width: 49.99999%;
    margin: 6px 0;

  }
}
div.gallery img {
  width: 100%;
  height: auto;
}
desc {
  opacity: 1.0;
}
div.desc:hover {
  padding: 0;
  text-align: center;
  opacity: 0.5;
}
div.gallery:hover {
  border: 1px solid #777;
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=100);
}
div.desc {
  padding: 5px;
  text-align: center;
}
img {
  opacity: 1.0;
  filter: alpha(opacity=50);
  alignment: center;
}

@media screen and (min-width: 600px)  {
  div {
    font-size: 55px;
    color: #005cbf;
  }
  . photo {
    width: 60%;
    float: left;
    margin-bottom: auto;
  }

}
div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 0;
  text-align: center;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
. row{
  width: 100%;
}


@media only screen and (max-width: 760px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;

  }
}

@media only screen and (max-width: 400px) {
  .responsive {
    width: 100%;
  }
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: blue;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-image: linear-gradient(to bottom left,#005cbf, #1289aa);
  color: white;
  padding: 4px 0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
  background-image: linear-gradient(to bottom right,#6f42c1, #1b1e21);
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 4px 10px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 8px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #1E90FF;
  padding-top: 5px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 5px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {

  background-image: linear-gradient(to bottom left,#005cbf, #1289aa);
  color: white;
  padding: 4px 10px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  float:right;
}

button:hover {
  opacity:1;
  background-color: #6f42c1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 4px 10px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 8px;
}
. modal2 {
  background: #f1f1f1;
  color:  #6f42c1;
}
/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: image(url="fon.png");
  padding-top: 50px;
}

/* Modal Content/Box */
. modal2-content {
  background-color: #fefefe;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #005cbf;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.p {
  color: #005cbf;
  background: white;
  size: 20%;
}
}
